<%= form_for(@yaku) do |f| %>
  <% if @yaku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yaku.errors.count, "error") %> prohibited this yaku from being saved:</h2>

      <ul>
      <% @yaku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_kanji %><br />
    <%= f.text_field :name_kanji %>
  </div>
  <div class="field">
    <%= f.label :name_kana %><br />
    <%= f.text_field :name_kana %>
  </div>
  <div class="field">
    <%= f.label :han_num %><br />
    <%= f.text_field :han_num %>
  </div>
  <div class="field">
    <%= f.label :naki_han_num %><br />
    <%= f.text_field :naki_han_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
