<h1>Listing yakus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name kanji</th>
    <th>Name kana</th>
    <th>Han num</th>
    <th>Naki han num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @yakus.each do |yaku| %>
  <tr>
    <td><%= yaku.name %></td>
    <td><%= yaku.name_kanji %></td>
    <td><%= yaku.name_kana %></td>
    <td><%= yaku.han_num %></td>
    <td><%= yaku.naki_han_num %></td>
    <td><%= link_to 'Show', yaku %></td>
    <td><%= link_to 'Edit', edit_yaku_path(yaku) %></td>
    <td><%= link_to 'Destroy', yaku, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Yaku', new_yaku_path %>
