<p id="notice"><%= notice %></p>

<p>
  <b>Is ippatsu:</b>
  <%= @agari.is_ippatsu %>
</p>

<p>
  <b>Is parent:</b>
  <%= @agari.is_parent %>
</p>

<p>
  <b>Is tsumo:</b>
  <%= @agari.is_tsumo %>
</p>

<p>
  <b>Dora num:</b>
  <%= @agari.dora_num %>
</p>

<p>
  <b>Bakaze:</b>
  <%= @agari.bakaze %>
</p>

<p>
  <b>Jikaze:</b>
  <%= @agari.jikaze %>
</p>

<p>
  <b>Honba num:</b>
  <%= @agari.honba_num %>
</p>

<p>
  <b>Reach num:</b>
  <%= @agari.reach_num %>
</p>

<p>
  <b>Is haitei:</b>
  <%= @agari.is_haitei %>
</p>

<p>
  <b>Is rinshan:</b>
  <%= @agari.is_rinshan %>
</p>

<p>
  <b>Is chankan:</b>
  <%= @agari.is_chankan %>
</p>

<p>
  <b>Is tenho:</b>
  <%= @agari.is_tenho %>
</p>

<p>
  <b>Is chiho:</b>
  <%= @agari.is_chiho %>
</p>

<p>
  <b>Total fu num:</b>
  <%= @agari.total_fu_num %>
</p>

<p>
  <b>Total han num:</b>
  <%= @agari.total_han_num %>
</p>

<p>
  <b>Mangan scale:</b>
  <%= @agari.mangan_scale %>
</p>

<p>
  <b>Total point:</b>
  <%= @agari.total_point %>
</p>

<p>
  <b>Parent point:</b>
  <%= @agari.parent_point %>
</p>

<p>
  <b>Child point:</b>
  <%= @agari.child_point %>
</p>

<p>
  <b>Tehai img:</b>
  <img src="<%= @agari.img_url %>" />
</p>

<p>
  <b>Img Url:</b>
  <%= @agari.img_url %>
</p>

<p>
  <b>Tehai list:</b>
  <%= @agari.tehai_list %>
</p>


<%= link_to 'Edit', edit_agari_path(@agari) %> |
<%= link_to 'Back', agaris_path %>
