<h1>Listing photos</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Path</th>
    <th>Normalized Image URL</th>
    <th>Original Image URL</th>
    <th>Thumnail Image URL</th>
    <th>CREATE</th>
    <th>UPDATE</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.id.to_s %></td>
    <td><img src=<%= photo.thum_url %>></td>
    <td><%= photo.path %></td>
    <td><%= photo.url %></td>
    <td><%= photo.orig_url %></td>
    <td><%= photo.thum_url %></td>
    <td><%= photo.created_at %></td>
    <td><%= photo.updated_at %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
