<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @photo.id %>
</p>
<p>
  <b>Path:</b>
  <%= @photo.path %>
</p>
<p>
  <b>Thumnail:</b>
  <%= @photo.thum_url %><br>
  <img src=<%= @photo.thum_url %>>
</p>
<p>
  <b>Normalied:</b>
  <%= @photo.url %><br>
  <img src=<%= @photo.url %>>
</p>
<p>
  <b>Original:</b>
  <%= @photo.orig_url %><br>
  <img src=<%= @photo.orig_url %>>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
